.upper-box{
    height: 700px;
    
}
@media (min-aspect-ratio:16/9){
    .bag-clip{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .bag-clip{
        width: auto;
        height: 100%;
    }
}
img:hover{
    transform: scale(1.1);
    
}
.char-img{
    width: 100% !important;
}
h2{
    font-family: 'Black Ops One', system-ui !important;
    font-size: 3rem !important;
    color: white !important;
}
p{
    font-family: 'Great Vibes', cursive;
    font-family: 'Oleo Script', system-ui !important;
    font-size: 1.5rem;
    color: rgb(220, 215, 215);
}